<div class="container">
	<div id="images">
		{{#each files}}
			<a href="{{../path}}{{this}}" class="image image-link"><img class="image-element" src="{{../path}}{{this}}" /></a>
		{{/each}}
	</div>
</div>
<div class="cssload-loader show">
	<div class="cssload-inner cssload-one"></div>
	<div class="cssload-inner cssload-two"></div>
	<div class="cssload-inner cssload-three"></div>
</div>