<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel="stylesheet" href="/js/lg/css/lightgallery.css">

		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script src="js/lg/js/lightgallery.min.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>

	<script src="/js/frontend.js"></script>
</html>
